@import '../../common/color.scss';

#movies {
  h4 {
    margin: 50px 0;
    color: $font__secondary;
    font-weight: 600;
    font-size: 30px;
  }
  .movies__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 30px;
  }

  .loading,
  .error {
    font-weight: 600;
    font-size: 30px;
    display: block;
    text-align: center;
    margin-top: 100px;
  }

  .loading {
    color: $font__secondary;
  }

  .error {
    color: red;
  }
}
