@import '../../common/color.scss';

nav {
  background-color: $secondary__color;
  height: 10vh;
  display: flex;
  align-items: center;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      display: flex;
      align-items: center;
      height: 100%;
      form {
        display: flex;
        input {
          padding: 10px 40px;
          width: 300px;
          background-color: $primary__color;
          border: 0;
          color: #fff;
          font-family: inherit;
          display: inline-block;
          outline: 0;
          border-radius: 5px;
          &::placeholder {
            color: $font__secondary;
          }
        }
        button {
          padding: 10px 20px;
          width: 20px;
          cursor: pointer;
          outline: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 20px;
            width: 20px;
            object-fit: contain;
          }
        }
      }
      a {
        font-size: 30px;
        color: $font__primary;
        font-weight: 800;
      }
      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
    }
  }
}
