@import '../../common/color.scss';

footer {
  background-color: $secondary__color;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  small {
    font-size: 18px;
    font-weight: 600;
    color: $font__primary;
    text-align: center;
    display: block;
  }
}
